<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= typeof title == 'undefined' ? 'MV JSA' : title %></title>
  <meta name="description" content="MV JSA is Monta Vista's premiere politics club. Join us for casual discussions on politics, current events, government, and more.">
  <meta name="keywords" content="MV,JSA,Monta Vista,politics,club,Junior State,America">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Avik Jain">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">
  <meta name="topic" content="Politics">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.css" media="screen,projection">
  <link rel="stylesheet" href="/css/style.css" media="screen,projection">
  <% if(currentView == 'index'){ %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  <% } %>
  <link rel="icon" href="http://jsa.org/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css">
  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
  <% if(currentView == 'blog_post') { %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=157203871374961";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <% } %>
</head>
<body>
<header class="site-header">
  <div class="header-wrapper">
    <div class="navbar-fixed">
      <nav class="site-nav white-text">
        <a href="/" class="brand-logo hide-on-large-only">MV<span class="bold">JSA</span><!--<img src="/img/mvjsa_logo.png" alt="MV<span class="bold">JSA</span>"/>--></a>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper hide-on-med-and-down">
          <div class="container">
            <a href="/" class="brand-logo">MV<span class="bold">JSA</span><!--<img src="/img/mvjsa_logo.png" alt="MV<span class="bold">JSA</span>"/>--></a>
            <ul id="nav-mobile" class="menu right hide-on-med-and-down">
              <li class="waves-effect <%= currentView == 'index' ? 'active' : '' %>"><a href="/">Home</a></li>
              <li class="waves-effect <%= currentView == 'blog' ? 'active' : '' %>"><a href="/blog">Blog</a></li>
              <li class="waves-effect <%= currentView == 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
              <% if(user) { %>
                <li class="waves-effect <%= currentView == 'member' ? 'active' : '' %>"><a href="/member">
                  <%= user.isAdmin ? 'Admin' : 'Member' %> Portal
                </a></li>
                <li class="waves-effect dropdown-button" data-activates="account-dropdown"><a href="#"><%= user.fname %> <%= user.lname %></a></li>
                <ul id="account-dropdown" class="dropdown-content">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              <% } else {%>
                <li class="waves-effect <%= currentView == 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                <li class="waves-effect <%= currentView == 'join' ? 'active' : '' %>"><a href="/join">Join</a></li>
              <% } %>
            </ul>
          </div>
        </div>
        <ul id="slide-out" class="side-nav row">
          <li class="side-nav-item waves-effect col s12 <%= currentView == 'index' ? 'active' : '' %>"><a href="/">Home</a></li>
          <li class="side-nav-item waves-effect col s12 <%= currentView == 'blog' ? 'active' : '' %>"><a href="/blog">Blog</a></li>
          <li class="side-nav-item waves-effect col s12 <%= currentView == 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
          <% if(user) { %>
            <% if(user.isAdmin) { %>
              <li class="col s12">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header side-nav-item waves-effect <%= currentView == 'member' ? 'active' : '' %>" href="#">Admin Portal</a>
                    <div class="collapsible-body">
                      <ul>
                        <li>
                          <a href="/admin/review_posts" class="red-text text-lighten-2 waves-effect">Pending Posts</a>
                        </li>
                        <li>
                          <a href="/admin/manage_points" class="red-text text-lighten-2 waves-effect">Activity Points</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            <% } else { %>
              <li class="side-nav-item waves-effect col s12 <%= currentView == 'member' ? 'active' : '' %>"><a href="/member">
                Member Portal
              </a></li>
            <% } %>
            <li class="col s12">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header side-nav-item waves-effect" href="#"><%= user.fname %> <%= user.lname %></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="waves-effect red-text text-lighten-2" href="/logout">Logout</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          <% } else {%>
            <li class="side-nav-item waves-effect col s12 <%= currentView == 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
            <li class="side-nav-item waves-effect col s12 <%= currentView == 'join' ? 'active' : '' %>"><a href="/join">Join</a></li>
          <% } %>
        </ul>
      </nav>
      <a href="http://jsa.org/" target="_blank">
        <img id="jsa-ribbon" class="animated slideInDown" src="/img/jsaribbon.png" />
      </a>
    </div>
  </div>
</header>
<main>
  <div class="main-wrapper">