<% include ../partials/header %>
<div class="row admin-wrapper">
	<nav class="sidebar col m2 z-depth-1 valign-wrapper white">
		<ul class="valign">
			<li class="<%= state == 'review_posts' ? 'active' : '' %>">
				<a href="/admin/review_posts" class="black-text flow-text">Pending Posts</a>
			</li>
			<li class="<%= state == 'manage_points' ? 'active' : '' %>">
				<a href="/admin/manage_points" class="black-text flow-text">Activity Points</a>
			</li>
			<li class="spacer"></li>
		</ul>
	</nav>
	<div class="content-wrapper col m10 offset-m2">
		<% if(state == 'review_posts') { %>
			<h2 class="row">Blog Posts Pending Review</h2>
			<div class="row">
				<% if(pendingBlogPosts.length > 0) { %>
					<% pendingBlogPosts.forEach(function(blogPost, index){ %>
					  <a href="/blog/pending/<%= blogPost._id %>" class="blog-post-link">
					  	<div class="card col m5 <%= index%2==1 ? 'offset-m2' : '' %> s12 hoverable waves-effect valign-wrapper">
						  	<div class="card-content valign">
							    <h3 class="card-title post-title black-text"><%= blogPost.title %></h3>
							    <p class="black-text">By <%= blogPost.author.fname %> <%= blogPost.author.lname %></p>
							   </div>
						  </div>
					  </a>
					<% }); %>
				<% } else { %>
					<p class="flow-text">Nothing to show.</p>
				<% } %>
			</div>
		<% } else { %>

		<% } %>
	</div>
</div>
<% include ../partials/footer %>