<% include ../partials/header %>
<div class="row admin-wrapper">
	<% include ../partials/admin-sidebar.ejs %>
	<div class="content-wrapper col m10 offset-m2">
		<% if(state == 'review_posts') { %> <%# REVIEW POSTS VIEW %>
			<h2 class="row">Blog Posts Pending Review</h2>
			<div class="row">
				<% if(pendingBlogPosts.length > 0) { %>
					<% pendingBlogPosts.forEach(function(blogPost, index){ %>
					  <a href="/blog/pending/<%= blogPost._id %>" class="blog-post-link">
					  	<div class="card col m5 <%= index%2==1 ? 'offset-m2' : '' %> s12 hoverable waves-effect valign-wrapper">
						  	<div class="card-content valign">
							    <h3 class="card-title post-title black-text"><%= blogPost.title %></h3>
							    <p class="black-text">By <%= blogPost.author.fname %> <%= blogPost.author.lname %></p>
							   </div>
						  </div>
					  </a>
					<% }); %>
				<% } else { %>
					<p class="flow-text">Nothing to show.</p>
				<% } %>
			</div>
		<% } else { %> <%# MANAGE POINTS VIEW %>
			<div class="row">
				<div class="col m6">
					<h2>Events</h2>
					<a href="#new-event-form" class="btn btn-floating btn-large waves-effect modal-trigger">
						<i class="material-icons">add</i>
					</a>
					<br><br>
					<% events.forEach(function(event) { %>
						<div class="card event-link">
							<div class="card-content">
								<span class="card-title" event-name"><%= event.name %></span>
								<p class="event-type">(<%= event.getType() %>)</p>
							</div>
							<div class="card-action row">
								<a href="#delete-event-modal-<%= event._id %>" class="btn btn-flat waves-effect waves-light red lighten-2 white-text col m3 offset-m9 z-depth-0 modal-trigger">DELETE</a>
							</div>
						</div>
						<div id="delete-event-modal-<%= event._id %>" class="modal delete-event-modal">
							<div class="modal-content">
								Are you sure you want to delete event "<%= event.name %>"?
							</div>
							<div class="modal-footer">
								<button data-eventId="<%= event._id %>" class="modal-action waves-effect waves-light btn-flat delete-event-button">DELETE</button>
								<button class="modal-action waves-effect waves-light btn-flat modal-close">BACK</button>
							</div>
						</div>
					<% }); %>
				</div>
			</div>

			<!-- NEW EVENT MODAL -->
			<form id="new-event-form" class="modal">
		    <div class="modal-content">
		      <h4>New Event</h4>
		      <div class="row">
		      	<div class="input-field col m12">
		      		<label for="event-name">Event Name</label>
		      		<input type="text" placeholder="First Meeting" id="event-name" name="event-name">
		      	</div>
		      	<div class="input-field col m12">
		      		<select id="event-type">
		      			<option value="meeting">Meeting</option>
		      			<option value="speaker">Speaker</option>
		      			<option value="conference">Conference</option>
		      		</select>
		      		<label for="event-type">Event Type</label>
		      	</div>
		      </div>
		    </div>
		    <div class="modal-footer">
		      <button type="submit" class="modal-action waves-effect waves-light btn-flat">SUBMIT <i class="material-icons right">send</i></button>
		    </div>
		  </form>
		<% } %>
	</div>
</div>
<% include ../partials/footer %>