<% include ../partials/header %>
<div class="blog-post z-depth-2">

  <h2 class="post-title">
    <%= blogPost.title %>
    <% if(blogPost.status == 'pending') { %>
      <span class="red-text text-lighten-2">(Pending Review)</span>
    <% } %>
  </h2>
  <h4 class="post-author">By <%= blogPost.author.fname %> <%= blogPost.author.lname %></h3>
  <div class="divider"></div>
  <div class="post-body"><%- blogPost.body %></div>
  <!--<div class="comments-wrapper">
    <% blogPost.comments.forEach(function(comment){ %>
      <div class="comment">
        <h5 class="comment-author"><%= comment.author %></h5>
        <p class="comment-body"><%= comment.body %></p>
      </div>
    <% }); %>
  </div>-->
  <% if(blogPost.status == 'pending') { %>
    <div class="row">
      <form method="POST" action="/blog/pending/<%= blogPost._id %>/accept" class="col m6 row">
        <button type="submit" class="btn btn-large green lighten-2 col m12">ACCEPT</button>
      </form>
      <form method="POST" action="/blog/pending/<%= blogPost._id %>/reject" class="col m6 row">
        <button type="submit" class="btn btn-large red lighten-2 col m12">REJECT</button>
      </form>
    </div>
  <% } %>
</div>
<% include ../partials/footer %>