<% include ../partials/header %>
<div class="content-wrapper">
	<div class="container">
		<h1>MV<strong>JSA</strong> Blog</h1>
		<p>This is an online platform designed to promote discussion among JSA members. Members may submit posts for review, which will be accepted and made public as long as they fall with in the general <a href="">guidelines</a>. Please note that any opinions expressed are those of their respective authors, and not of MV JSA, JSA, or Monta Vista as a whole.</p>
		<div class="row">
			<% blogPosts.forEach(function(blogPost, index){ %>
			  <a href="/blog/<%= blogPost._id %>" class="blog-post-link">
			  	<div class="card col m5 <%= index%2==1 ? 'offset-m2' : '' %> s12 hoverable waves-effect valign-wrapper">
				  	<div class="card-content valign">
					    <h3 class="card-title post-title black-text truncate"><%= blogPost.title %></h3>
					    <div class="author-date-wrapper">
					    	<p class="black-text">By <%= blogPost.author.fname %> <%= blogPost.author.lname %></p>
					    	<p class="black-text date"><%= formatDate(blogPost.publishedAt) %></p>
					    </div>
					   </div>
				  </div>
			  </a>
			<% }); %>
		</div>
	</div>
	<% if(user) { %>
		<div class="fixed-action-btn" id="new-blog-post-btn">
			<a href="/blog/new" class="center-align btn-floating btn-large red waves-effect valign tooltipped" data-position="left" data-delay="50" data-tooltip="New Blog Post">
	      <i class="large material-icons">add</i>
	    </a>
	  </div>
	<% } %>
</div>
<% include ../partials/footer %>