<% include ../partials/header %>
<div class="container">
	<div class="content-wrapper">
	  <h1 class="content-header">Member Portal</h1>
	  <div class="center-align">
	    <h2>Name: <%= user.fname %> <%= user.lname %></h2>
	    <h2>Grade: <%= user.grade %></h2>
	    <h2>Email: <%= user.email %></h2>
	    <h2>Phone: <%= user.phone %></h2>
	    <h2>Birthday: <%= user.dob %></h2>
	  </div>
	</div>
</div>
<% include ../partials/footer %>